<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable]">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <meta name="naver-site-verification" content="611d8bc8fb77c5c38b49e6b78c750749d01d4cbd" />
    <%!-- <.live_title suffix=" · Phoenix Framework">
      <%= assigns[:page_title] || "Kimper" %>
    </.live_title> --%>
    <.live_title>
      김퍼
    </.live_title>
    <meta name="application-name" content="김퍼" />
    <meta name="description" content="암호화폐 김프, 펀딩비 분석 서비스" />
    <meta name="keywords" content="김치프리미엄,아비트라지,차익거래,비트코인,펀비,펀딩피" />
    <meta property="og:type" content="website"> 
    <meta property="og:title" content="김퍼">
    <meta property="og:description" content="암호화폐 김프, 펀딩비 분석 서비스">
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <link rel="icon" type="image/x-icon" href={~p"/favicon.ico"} />
    <link href="https://cdn.jsdelivr.net/npm/@noonnu/spoqa-han-sans-neo-regular@0.1.0/index.min.css" rel="stylesheet">
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-561BL38CDF"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-561BL38CDF');
    </script>
  </head>
  <body class="bg-white">
    <%= @inner_content %>
  </body>
</html>
